.about-content {
    overflow-x: hidden;
}

.text-about-content {
    justify-content: center;
    text-align: center;

    h1 {
        padding-top: 5rem;
        font-size: 50px;
        color: #bd3844;
    }
}

.contents {
    margin-top: 14dvh;
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.about-img,
.about-text {
    margin-bottom: 3.5dvh;
    padding: 0px 3em;
}

.about-img {
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.background-img {
    background-color: #bd3844;
    position: absolute;
    width: 31dvh;
    height: 31dvh;
    margin-top: 19dvh;
    margin-left: 5dvh;
    border-radius: 50%;
    transform: rotate(30deg);
    z-index: 1;
}

.img img {
    margin-top: 8dvh;
    position: relative;
    width: 110%;
    z-index: 2;

}

.img.float {
    animation: float 3s ease-in-out infinite;
    z-index: 2;
}

.about-text {
    text-align: center;
    width: 40%;

    p {
        margin-top: 1.5dvh;
        color: #fefaf4;
        font-size: 18px;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0dvh);
    }

    50% {
        transform: translateY(-1.5dvh);
    }

}