:root {
    --swiper-theme-color: #bd3844;
    --swiper-pagination-color:var(--swiper-theme-color)
}

.swiper {
    width: 45dvw;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    padding-bottom: 40dvh;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
    margin-top: 5dvh;

}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 9px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 9px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: var(--swiper-pagination-bullet-inactive-color, #fc4557);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.4);

}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.ferro{
    background: linear-gradient(135deg, #4b4f50 0%, #1d1f1e 100%);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #848486;
    text-transform: uppercase;
    width: 45dvw;
    height: 35dvh;
    border-radius: 2dvh;

    h2{
        padding-top: 3dvh;
        font-size: 26px;
    }

    img{
       width: 6.5dvw;
       height: auto;
       margin: 2rem;
       filter: drop-shadow(3px 3px 10px #000000af);
    }
}

.bronze{
    
    background: linear-gradient(135deg, #483413 0%, #1c1503 100%);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #775528;
    text-transform: uppercase;
    width: 45dvw;
    height: 35dvh;
    border-radius: 2dvh;

    h2{
        padding-top: 3dvh;
        font-size: 26px;
    }

    img{
       width: 6.5dvw;
       height: auto;
       margin: 2rem;
       filter: drop-shadow(3px 3px 10px #000000af);
    }
}

.prata{
    background: linear-gradient(135deg, #7b7f7e 0%, #3d4140 100%);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #cfd3d2;
    text-transform: uppercase;
    width: 45dvw;
    height: 35dvh;
    border-radius: 2dvh;

    h2{
        padding-top: 3dvh;
        font-size: 26px;
    }

    img{
       width: 6.5dvw;
       height: auto;
       margin: 2rem;
       filter: drop-shadow(3px 3px 10px #000000af);
    }
}

.ouro{
    background: linear-gradient(135deg, #8b753e 0%, #3e3419 100%);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #eec66a;
    text-transform: uppercase;
    width: 45dvw;
    height: 35dvh;
    border-radius: 2dvh;

    h2{
        padding-top: 3dvh;
        font-size: 26px;
    }

    img{
       width: 6.5dvw;
       height: auto;
       margin: 2rem;
       filter: drop-shadow(3px 3px 10px #000000af);
    }
}

.platina{
    background: linear-gradient(135deg, #007572 0%, #013533 100%);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #02c8be;
    text-transform: uppercase;
    width: 45dvw;
    height: 35dvh;
    border-radius: 2dvh;

    h2{
        padding-top: 3dvh;
        font-size: 26px;
    }

    img{
       width: 6.5dvw;
       height: auto;
       margin: 2rem;
       filter: drop-shadow(3px 3px 10px #000000af);
    }
}

.diamante{
    background: linear-gradient(135deg, #43216a 0%, #190c2e 100%);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #793bb0;
    text-transform: uppercase;
    width: 45dvw;
    height: 35dvh;
    border-radius: 2dvh;

    h2{
        padding-top: 3dvh;
        font-size: 26px;
    }

    img{
       width: 6.5dvw;
       height: auto;
       margin: 2rem;
       filter: drop-shadow(3px 3px 10px #000000af);
    }
}

.ascendente{
    background: linear-gradient(135deg, #075322 0%, #04210b 100%);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #0e8a36;
    text-transform: uppercase;
    width: 45dvw;
    height: 35dvh;
    border-radius: 2dvh;

    h2{
        padding-top: 3dvh;
        font-size: 26px;
    }

    img{
       width: 6.5dvw;
       height: auto;
       margin: 5dvh;
       filter: drop-shadow(3px 3px 10px #000000af);
    }
}

.imortal{
    background: linear-gradient(135deg, #97312f 0%, #421414 100%);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #fa585a;
    text-transform: uppercase;
    width: 45dvw;
    height: 35dvh;
    border-radius: 2dvh;

    h2{
        padding-top: 3dvh;
        font-size: 26px;
    }

    img{
       width: 6.5dvw;
       height: auto;
       margin: 2rem;
       filter: drop-shadow(3px 3px 10px #000000af);
    }
}

.radiante{
    background: linear-gradient(135deg, #968c64 0%, #44402d 100%);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #fdf0a5;
    text-transform: uppercase;
    width: 45dvw;
    height: 35dvh;
    border-radius: 2dvh;

    h2{
        padding-top: 3dvh;
        font-size: 26px;
    }

    img{
       width: 6.5dvw;
       height: auto;
       margin: 2rem;
       filter: drop-shadow(3px 3px 10px #000000af);
    }
}
