.competitive-content {
    padding: 0px 28px;
    padding-bottom: 15px;
}

.text-section {
    color: #0f1923;
    width: 85%;

    h1 {
        font-size: 60px;
        padding-top: 15dvh;
    }

    p {
        font-size: 18px;
        font-weight: 600;
        width: 80%;
    }
}

.text-section :nth-child(2) {
    animation-delay: .1s;
    opacity: 0;

}

.text-section :nth-child(3) {
    margin-top: 2dvh;
    margin-left: 5dvh;
    animation-delay: .3s;
    opacity: 0;
}

.challengers {
    display: flex;

    img {
        width: 54dvh;
        height: auto;
        border-radius: 12px;
        margin-top: 4dvh;
    }
}

.challengers-content {
    margin-top: 8dvh;
    margin-left: 10%;
    color: #0f1923;

    h1 {
        font-size: 23px;
        padding-bottom: .5em;
    }

    p {
        font-size: 16px;
        font-weight: 550;
        margin-bottom: 1rem;
    }
}

.line-p {
    margin-left: 4dvh;
    position: absolute;
    content: "";
    width: 5px;
    height: 64px;
    border-right: 4px solid #0f1923;
}

.vcts-content {
    width: 65%;
    margin-top: 8dvh;
    color: #0f1923;

    h1 {
        font-size: 23px;
        padding-bottom: .5em;
    }

    p {
        font-size: 16px;
        font-weight: 550;
        margin-bottom: 1rem;
        opacity: 0;
    }
}

.vcts-content p:nth-child(2) {
    animation-delay: 100ms;
}

.vct-america {
    color: #0f1923;
    display: flex;
    margin-left: 13dvh;
    margin-top: 3dvh;

    h3 {
        font-size: 23px;
    }

    p {
        font-size: 16px;
        font-weight: 550;
        padding-top: .5rem;
        opacity: 0;
    }
}

.vct-america p:nth-child(2) {
    animation-delay: 100ms;
}

.vct-china {
    display: flex;
    margin-left: 20dvh;
    margin-top: 3dvh;
    color: #0f1923;

    h3 {
        font-size: 23px;
    }

    p {
        font-size: 16px;
        font-weight: 550;
        padding-top: .5rem;
    }

}

.vct-china p:nth-child(2) {
    animation-delay: 100ms;
}

.vct-emea {
    display: flex;
    margin-left: 13dvh;
    margin-top: 3dvh;
    color: #0f1923;

    h3 {
        font-size: 23px;
    }

    p {
        font-size: 16px;
        font-weight: 550;
        padding-top: .5rem;
    }
}

.vct-emea p:nth-child(2) {
    animation-delay: 100ms;
}

.vct-pacific {
    display: flex;
    margin-left: 9.5dvw;
    margin-top: 3dvh;
    color: #0f1923;

    h3 {
        font-size: 23px;
    }

    p {
        font-size: 16px;
        font-weight: 550;
        padding-top: .5rem;
    }
}

.vct-pacific p:nth-child(2) {
    animation-delay: 100ms;
}

.masters {
    display: flex;

    img {
        width: 54dvh;
        height: auto;
        border-radius: 12px;
        margin-top: 4dvh;
    }
}

.masters-content {
    margin-top: 8dvh;
    margin-left: 10%;
    color: #0f1923;

    h1 {
        font-size: 23px;
        padding-bottom: .5em;
    }

    p {
        font-size: 16px;
        font-weight: 550;
        margin-bottom: 1rem;
    }
}

.valoChamps {
    display: flex;

    img {
        width: 54dvh;
        height: auto;
        border-radius: 12px;
        margin-top: 4dvh;
    }
}

.valoChamps-content {
    width: 85%;
    margin-top: 8dvh;
    color: #0f1923;

    h1 {
        font-size: 23px;
        padding-bottom: .5em;
    }

    p {
        font-size: 16px;
        font-weight: 550;
        margin-bottom: 1rem;
    }
}

.valoChamps-content p:nth-child(2) {
    animation-delay: 100ms;
}

.timeline-champs {
    margin-top: 8dvh;
    padding-bottom: 40px;
}

.timeline-champs h1 {
    color: #0f1923;
    font-size: 23px;
    padding-bottom: .5rem;

}

@keyframes scale-in-top {
    from {
        transform: scale(0);
        transform-origin: 50% 0%;
        opacity: 1;
    }

    to {
        transform: scale(1);
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

.show.scale-in-top {
    animation: scale-in-top 1s both;
}

.show.slide-on-lft {
    animation: slide-on-lft .5s both;
}

.challengers-content p:nth-child(5) {
    animation-delay: .1s;
}

@-webkit-keyframes slide-on-lft {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    30% {
        opacity: 0.1;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .text-section {
        align-items: center;
        width: 100%;

        h1 {
            font-size: 40px;
    
        }

        p {
            font-size: 14px;
            width: 97%;
    
        }
    }
    .challengers {
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px 0px;
    }

    .challengers-content {
        margin-top: 4dvh;
        margin-left: 0;
        width: 100%;
    }

    .challengers-content h1 {
        font-size: 20px;
    }

    .challengers-content p {
        font-size: 14px;
    }

    .challengers img {
        width: 90%;
        margin-top: 1dvh;
    }

    .challengers img:nth-child(2) {
        width: 50dvw;
    }

    .vcts {
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px 0px;
    }

    .vcts-content {
        margin-top: 4dvh;
        margin-left: 0;
        width: 100%;
    }

    .vct-america {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        text-align: center;
    }

    .vct-america h3 {
        font-size: 20px;
    }

    .vct-america p {
        font-size: 14px;
        padding-top: .25rem;
    }

    .vct-china {
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 0;
        text-align: center;
    }

    .vct-china h3 {
        font-size: 20px;
    }

    .vct-china p {
        font-size: 14px;
        width: 90%;
        margin: 0 auto;
    }

    .vct-emea {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
        text-align: center;
    }

    .vct-emea h3 {
        font-size: 20px;
    }

    .vct-emea p {
        font-size: 14px;
        width: 90%;
        margin: 0 auto;
    }

    .vct-pacific {
        flex-direction: column-reverse;
        /* Coloca a imagem abaixo do texto */
        margin-left: 0;
        align-items: center;
        text-align: center;
    }

    .vct-pacific h3 {
        font-size: 20px;
        /* Ajusta o tamanho da fonte */
    }

    .vct-pacific p {
        font-size: 14px;
        /* Ajusta o tamanho da fonte */
        padding-top: .5rem;
    }

    .vct-pacific img {
        width: 100%;
        /* Garante que a imagem ocupe a largura da tela */
        margin-top: 2dvh;
        height: auto;
    }

    .masters {
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px 0px;
    }

    .masters img {
        width: 40dvh;
        /* Reduz o tamanho da imagem em dispositivos menores */
    }

    .masters-content {
        margin-top: 4dvh;
        margin-left: 0;
        /* Remove a margem lateral */
        width: 100%;
        /* Define a largura baseada na tela */
    }

    .masters-content h1 {
        font-size: 20px;
    }

    .masters-content p {
        font-size: 14px;
    }

    .masters img {
        width: 90%;
        margin-top: 1dvh;
    }

    .masters img:nth-child(2) {
        width: 50dvw;
    }

    .valoChamps {
        flex-direction: column;
        /* Altere para coluna em telas menores */
        align-items: center;
        padding: 10px;
    }

    .valoChamps-content {
        width: 100%;

    }

    .valoChamps-content h1 {
        font-size: 20px;

    }

    .valoChamps-content p {
        font-size: 14px;

    }

    .valoChamps img {
        width: 90%;

        margin-top: 1vh;

    }

    .valoChamps img:nth-child(2) {
        width: 45dvw;
    }

    .timeline-champs h1 {
        margin-top: 8vh;
        padding-bottom: 40px;
        color: #0f1923;
        font-size: 24px;
        padding-bottom: 0.5rem;
        text-align: center;
        font-size: 25px;

    }
}

@media (max-width: 480px) {
    .valoChamps-content h1 {
        font-size: 18px;
        /* Ajusta o tamanho da fonte para telas muito pequenas */
    }

    .valoChamps-content p {
        font-size: 12px;
        /* Ajusta o tamanho da fonte para telas muito pequenas */
    }

    .valoChamps img {
        width: 100%;
        /* Ajusta a largura da imagem para telas muito pequenas */
        margin-top: 1vh;
        /* Ajusta a margem superior para telas muito pequenas */
    }

    .valoChamps img:nth-child(2) {
        width: 65dvw;
    }

    .timeline-champs h1 {

        margin-top: 8vh;
        padding-bottom: 40px;
        color: #0f1923;
        font-size: 24px;
        padding-bottom: 0.5rem;
        text-align: center;
        font-size: 18px;
    }
}