.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 4%;
  position: fixed;
  transition: ease-out .4s;
  z-index: 1000;
}

.rolagem {
  background-color: #0c0c0c;
  padding: 12px 4%;
  transition: ease-in .4s;
  border-bottom: 0;
  box-shadow: none;

  .nav-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
    transition: 1s;
  }
}

.nav-content {
  padding: 16px 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 3px 1px 20px -3px rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  

  li {
    display: flex;
    color: #fefaf4;
  }
}

.nav-content li {
  list-style-type: none;

}

.nav-content li {
  display: inline-block;
  position: relative;
  margin: 0 3em;
}

.nav-content li a {
  color: #fefaf4;
  text-decoration: none;
  font-size: 16px;
  transition: color .3s ease;
}

.nav-content li a:hover {
  color: #fc4557;
}

.link-style::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fc4557;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.link-style:hover::before {
  visibility: visible;
  width: 100%;
}

.btn-agenda button {
  text-align: center;
  width: 8em;
  height: 2.5em;
  border: 0;
  border-radius: 12px;
  background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
  color: #0c0c0c;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: .15vh;

}

.nav-btn {
  display: none;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 960px) {

  .nav-btn {
    display: block;
    font-size: 18px;
    
  }

  .Responsive_nav .nav-content,
.Responsive_nav .btn-agenda {
  display: flex; 
}

  .nav-content,
  .btn-agenda {
    display: none;
  }

   .navbar-content .nav-close-btn,
   .rolagem .nav-close-btn{
    display: none;
  }

  .Responsive_nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #101011;
    transition: 1s;
    border: none;
    border-radius: 0px;
  }

  .Responsive_nav .logo{
    position: absolute;
    top: 25px;
    left: 30px;
  }

  .Responsive_nav ul{
    border: none;
    box-shadow: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }

  .Responsive_nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
  }

   .nav-close-btn{
    position: absolute;
    right: 30px;
    top: 34px;
  }

  .Responsive_nav .nav-close-btn{
    display: flex;
    background-color: #3b3b3e;
    border: none;
    box-shadow: none;
    justify-content: center;
    align-items: center;
  }

  .nav-btn {
    padding: .5rem;
    color: #fefef4;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 1px 20px -3px rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hide-btn{
    display: none;
  }

  .rolagem .nav-btn{
    background-color: transparent;
    box-shadow: none; 
  }

  .rolagem .nav-close-btn{
    background-color: #3b3b3e;
  }

  .rolagem .Responsive_nav{
    background-color: #101011;
  }

}